<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
        </title>
    </head>
    <body>
        <nav class="nav">
            <li>
                {% if user.is_authenticated %}
                Hello, {{ user.username }}
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'signup' %}">Sign up</a>
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
                <a href="{% url 'home' %}">Main Page</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'create_receipt' %}">Create Receipt</a>
                    <a href="{% url 'create_category' %}">Create Category</a>
                    <a href="{% url 'create_account' %}">Create Account</a>
                    <a href="{% url 'category_list' %}">Category List</a>
                    <a href="{% url 'account_list' %}">Account List</a>
                {% endif %}
            </li>
        </nav>
        <main>
            <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Number of Receipts</td>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.receipts.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
        <footer>
        </footer>
    </body>
</html>
